In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('LoansTrainingSet.csv')
pd.set_option('max_columns', 100)
df.head()
#ki≈üiye kredi verilip verilmeyecegini incelemek icin csv dosyasini python'a bagladim

C:\Users\efsan\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10+ years,Home Mortgage,33694.0,Debt Consolidation,$584.03,12.3,41.0,10,0,6760,16056,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4 years,Home Mortgage,42269.0,other,"$1,106.04",26.3,NaN,17,0,6262,19149,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10+ years,Home Mortgage,90126.0,Debt Consolidation,"$1,321.85",28.8,NaN,5,0,20967,28335,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10+ years,Own Home,38072.0,Debt Consolidation,$751.92,26.2,NaN,9,0,22529,43915,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4 years,Rent,50025.0,Debt Consolidation,$355.18,11.5,NaN,12,0,17391,37081,0.0,0.0

In [4]:
import numpy as np

In [5]:
df["Years in current job"] = df["Years in current job"].str.extract('(\d+)') #aradaki artƒ± i≈üaretlerini kaldƒ±rmak i√ßin bu ifadeyi kullandim
df["Years in current job"] = pd.to_numeric(df["Years in current job"], errors = 'coerce')
df["Years in current job"].head()

0    10.0
1     4.0
2    10.0
3    10.0
4     4.0
Name: Years in current job, dtype: float64

In [6]:
df['Monthly Debt'] = df['Monthly Debt'].str.extract("\$?([0-9,]+\.?[0-9]+)")
df['Monthly Debt'] = df['Monthly Debt'].str.replace(',','', regex=True)
df['Monthly Debt'] = df['Monthly Debt'].astype("float")#verilerimi float tipine donusturdum
df["Monthly Debt"].head()
#monthly debt(aylik borc) s√ºtunlarƒ±na ait dolar i≈üaretlerini ayƒ±rmak i√ßin bu kodu kullandƒ±m.

0     584.03
1    1106.04
2    1321.85
3     751.92
4     355.18
Name: Monthly Debt, dtype: float64

In [7]:

df['Maximum Open Credit'].replace('#VALUE',np.nan, inplace=True)
#int olmasƒ± gereken satƒ±rlara string ifadeler karƒ±≈ütƒ±ƒüƒ±nda null value ile degistirdim
df['Maximum Open Credit'] = pd.to_numeric(df["Maximum Open Credit"], errors="coerce")
#ardindan numaraya donusturdum

In [8]:
df["Maximum Open Credit"].fillna(df['Maximum Open Credit'].mean(),inplace=True)

In [9]:
df.dropna(subset=["Tax Liens"],inplace=True)
df.dropna(subset=["Bankruptcies"],inplace=True)

In [10]:
df['Tax Liens'].isnull().sum()

0

In [11]:
df["Bankruptcies"].isnull().sum()

0

In [12]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10.0,Home Mortgage,33694.0,Debt Consolidation,584.03,12.3,41.0,10,0,6760,16056.0,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4.0,Home Mortgage,42269.0,other,1106.04,26.3,NaN,17,0,6262,19149.0,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10.0,Home Mortgage,90126.0,Debt Consolidation,1321.85,28.8,NaN,5,0,20967,28335.0,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10.0,Own Home,38072.0,Debt Consolidation,751.92,26.2,NaN,9,0,22529,43915.0,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4.0,Rent,50025.0,Debt Consolidation,355.18,11.5,NaN,12,0,17391,37081.0,0.0,0.0

In [13]:
df.columns
#sutunlarƒ±mƒ±n adlari

Index(['Loan ID', 'Customer ID', 'Loan Status', 'Current Loan Amount', 'Term',
       'Credit Score', 'Years in current job', 'Home Ownership',
       'Annual Income', 'Purpose', 'Monthly Debt', 'Years of Credit History',
       'Months since last delinquent', 'Number of Open Accounts',
       'Number of Credit Problems', 'Current Credit Balance',
       'Maximum Open Credit', 'Bankruptcies', 'Tax Liens'],
      dtype='object')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 256455 entries, 0 to 256983
Data columns (total 19 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   Loan ID                       256455 non-null  object
 1   Customer ID                   256455 non-null  object
 2   Loan Status                   256455 non-null  object
 3   Current Loan Amount           256455 non-null  int64
 4   Term                          256455 non-null  object
 5   Credit Score                  194895 non-null  float64
 6   Years in current job          244979 non-null  float64
 7   Home Ownership                256455 non-null  object
 8   Annual Income                 194895 non-null  float64
 9   Purpose                       256455 non-null  object
 10  Monthly Debt                  256455 non-null  float64
 11  Years of Credit History       256455 non-null  float64
 12  Months since last delinquent  116076 non-null  float64
 13  Number of Open Accounts       256455 non-null  int64
 14  Number of Credit Problems     256455 non-null  int64
 15  Current Credit Balance        256455 non-null  int64
 16  Maximum Open Credit           256455 non-null  float64
 17  Bankruptcies                  256455 non-null  float64
 18  Tax Liens                     256455 non-null  float64
dtypes: float64(9), int64(4), object(6)
memory usage: 39.1+ MB

In [15]:
abs(df.corr()['Number of Credit Problems']).sort_values(ascending=False)
#kredi problemlerinin diger sutunlarla olan korelasyonunu inceleyerek 
#iflaslarƒ±n(banktruptcies) ve vergi lisanslarƒ±nƒ±n(tax liens) kredi problemlerinin sayƒ±sƒ±nƒ± oldukca etkiledigini fark ediyorum

Number of Credit Problems       1.000000
Bankruptcies                    0.755866
Tax Liens                       0.584995
Current Credit Balance          0.103955
Months since last delinquent    0.087455
Years of Credit History         0.061468
Monthly Debt                    0.053211
Years in current job            0.041280
Number of Open Accounts         0.013883
Annual Income                   0.013732
Maximum Open Credit             0.008305
Credit Score                    0.000681
Current Loan Amount             0.000007
Name: Number of Credit Problems, dtype: float64

In [16]:
abs(df.corr()['Annual Income']).sort_values(ascending=False)

Annual Income                   1.000000
Monthly Debt                    0.454788
Current Credit Balance          0.291533
Years of Credit History         0.146817
Number of Open Accounts         0.140251
Years in current job            0.070009
Months since last delinquent    0.060844
Bankruptcies                    0.044837
Tax Liens                       0.038210
Credit Score                    0.033283
Maximum Open Credit             0.029871
Current Loan Amount             0.024237
Number of Credit Problems       0.013732
Name: Annual Income, dtype: float64

In [17]:
abs(df.corr()['Credit Score']).sort_values(ascending=False)

Credit Score                    1.000000
Current Loan Amount             0.139798
Annual Income                   0.033283
Years of Credit History         0.011499
Months since last delinquent    0.008202
Number of Open Accounts         0.008169
Monthly Debt                    0.005502
Tax Liens                       0.004367
Bankruptcies                    0.003426
Current Credit Balance          0.003272
Maximum Open Credit             0.001957
Years in current job            0.000728
Number of Credit Problems       0.000681
Name: Credit Score, dtype: float64

In [18]:
#df["Years in current job"]  = df["Years in current job"].astype('int64',copy=False)

In [19]:
df.isnull().sum()

Loan ID                              0
Customer ID                          0
Loan Status                          0
Current Loan Amount                  0
Term                                 0
Credit Score                     61560
Years in current job             11476
Home Ownership                       0
Annual Income                    61560
Purpose                              0
Monthly Debt                         0
Years of Credit History              0
Months since last delinquent    140379
Number of Open Accounts              0
Number of Credit Problems            0
Current Credit Balance               0
Maximum Open Credit                  0
Bankruptcies                         0
Tax Liens                            0
dtype: int64

In [20]:
def eksik_deger_tablosu(df): 
    eksik_deger = df.isnull().sum() #sutunlarimdaki eksik degerleri goruyorum
    eksik_deger_yuzde = 100 * df.isnull().sum()/len(df) #eksik degerlerin yuzdelik degerlerini hesaplatiyorum
    eksik_deger_tablo = pd.concat([eksik_deger, eksik_deger_yuzde], axis=1)#i ekseni uzerinden ilerliyor
    eksik_deger_tablo_son = eksik_deger_tablo.rename(
    columns = {0 : 'Eksik Deƒüerler', 1 : '% Deƒüeri'}) #tablo adini yeniliyorum
    return eksik_deger_tablo_son
  
eksik_deger_tablosu(df)
# bu kod sayesinde sutunlarda ne kadar eksik deƒüerlerin oldugunu goruyorum

                              Eksik Deƒüerler   % Deƒüeri
Loan ID                                    0   0.000000
Customer ID                                0   0.000000
Loan Status                                0   0.000000
Current Loan Amount                        0   0.000000
Term                                       0   0.000000
Credit Score                           61560  24.004211
Years in current job                   11476   4.474859
Home Ownership                             0   0.000000
Annual Income                          61560  24.004211
Purpose                                    0   0.000000
Monthly Debt                               0   0.000000
Years of Credit History                    0   0.000000
Months since last delinquent          140379  54.738258
Number of Open Accounts                    0   0.000000
Number of Credit Problems                  0   0.000000
Current Credit Balance                     0   0.000000
Maximum Open Credit                        0   0.000000
Bankruptcies                               0   0.000000
Tax Liens                                  0   0.000000

In [21]:
from sklearn.ensemble import GradientBoostingRegressor
X = df[df["Credit Score"].notnull()]
X = X.drop("Credit Score", axis=1)
X = X[0:1500]
X = X[["Years of Credit History","Monthly Debt","Current Loan Amount","Number of Open Accounts","Number of Credit Problems","Current Credit Balance"]]
print(X.shape)

(1500, 6)

In [22]:
y = df[df["Credit Score"].notnull()]
y = y["Credit Score"]
y = y[0:1500]
print(y.shape)

(1500,)

In [23]:
gr = GradientBoostingRegressor ().fit(X,y)

In [24]:
df_ = df[df["Credit Score"].isnull()]
df_ = df_.drop("Credit Score", axis=1)
df_ = df_[["Years of Credit History", "Monthly Debt", "Current Loan Amount", "Number of Open Accounts", "Number of Credit Problems", "Current Credit Balance"]]
df_.shape

(61560, 6)

In [25]:
df.loc[df["Credit Score"].isnull(),"Credit Score"] = gr.predict(df_)

In [26]:
def eksik_deger_tablosu(df): 
    eksik_deger = df.isnull().sum()
    eksik_deger_yuzde = 100 * df.isnull().sum()/len(df)
    eksik_deger_tablo = pd.concat([eksik_deger, eksik_deger_yuzde], axis=1)
    eksik_deger_tablo_son = eksik_deger_tablo.rename(
    columns = {0 : 'Eksik Deƒüerler', 1 : '% Deƒüeri'})
    return eksik_deger_tablo_son
  
eksik_deger_tablosu(df)

                              Eksik Deƒüerler   % Deƒüeri
Loan ID                                    0   0.000000
Customer ID                                0   0.000000
Loan Status                                0   0.000000
Current Loan Amount                        0   0.000000
Term                                       0   0.000000
Credit Score                               0   0.000000
Years in current job                   11476   4.474859
Home Ownership                             0   0.000000
Annual Income                          61560  24.004211
Purpose                                    0   0.000000
Monthly Debt                               0   0.000000
Years of Credit History                    0   0.000000
Months since last delinquent          140379  54.738258
Number of Open Accounts                    0   0.000000
Number of Credit Problems                  0   0.000000
Current Credit Balance                     0   0.000000
Maximum Open Credit                        0   0.000000
Bankruptcies                               0   0.000000
Tax Liens                                  0   0.000000

In [27]:
X = df[df["Years in current job"].notnull()]
X = X.drop("Years in current job", axis=1)
X = X[0:1500]
X = X[["Credit Score","Years of Credit History","Monthly Debt","Current Loan Amount","Number of Open Accounts","Number of Credit Problems","Current Credit Balance"]]
print(X.shape)

(1500, 7)

In [28]:
y = df[df["Years in current job"].notnull()]
y = y["Years in current job"]
y = y[0:1500]
print(y.shape)

(1500,)

In [29]:
gr = GradientBoostingRegressor ().fit(X,y)
df_current_job = df[df["Years in current job"].isnull()]
df_current_job = df_current_job.drop("Years in current job", axis=1)
df_current_job = df_current_job[["Credit Score","Years of Credit History","Monthly Debt","Current Loan Amount","Number of Open Accounts","Number of Credit Problems","Current Credit Balance"]]
df_current_job.shape

(11476, 7)

In [30]:
df.loc[df["Years in current job"].isnull(),"Years in current job"] = gr.predict(df_current_job)

In [31]:
X = df[df["Annual Income"].notnull()]
X = X.drop("Annual Income",axis=1)
X = X[0:1500]
X = X[["Credit Score","Years in current job","Years of Credit History","Monthly Debt","Current Loan Amount","Number of Open Accounts","Number of Credit Problems","Current Credit Balance"]]
print(X.shape)

(1500, 8)

In [32]:
y = df[df["Annual Income"].notnull()]
y = y["Annual Income"]
y = y[0:1500]
print(y.shape)

(1500,)

In [33]:
gr = GradientBoostingRegressor ().fit(X,y)
df_income = df[df["Annual Income"].isnull()]
df_income = df_income.drop("Annual Income", axis=1)
df_income = df_income[["Years in current job","Credit Score","Years of Credit History","Monthly Debt","Current Loan Amount","Number of Open Accounts","Number of Credit Problems","Current Credit Balance"]]
df_income.shape

(61560, 8)

In [34]:
df.loc[df["Annual Income"].isnull(),"Annual Income"] = gr.predict(df_income)

In [35]:
X = df[df["Months since last delinquent"].notnull()]
X = X.drop("Months since last delinquent", axis=1)
X = X[0:1500]
X = X[["Annual Income","Years in current job","Credit Score","Years of Credit History","Monthly Debt","Current Loan Amount","Number of Open Accounts","Number of Credit Problems","Current Credit Balance"]]

In [36]:
y = df[df["Months since last delinquent"].notnull()]
y = y["Months since last delinquent"]
y = y[0:1500]
print(y.shape)

(1500,)

In [37]:
gr = GradientBoostingRegressor ().fit(X,y)
df_delinquent = df[df["Months since last delinquent"].isnull()]
df_delinquent = df_delinquent.drop("Months since last delinquent", axis=1)
df_delinquent = df_delinquent[["Annual Income","Years in current job","Credit Score","Years of Credit History","Monthly Debt","Current Loan Amount","Number of Open Accounts","Number of Credit Problems","Current Credit Balance"]]
df_delinquent.shape

(140379, 9)

In [38]:
df.loc[df["Months since last delinquent"].isnull(),"Months since last delinquent"] = gr.predict(df_delinquent)
df["Months since last delinquent"].isnull().sum()

0

In [39]:
df.head()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Years in current job,Home Ownership,Annual Income,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,000025bb-5694-4cff-b17d-192b1a98ba44,5ebc8bb1-5eb9-4404-b11b-a6eebc401a19,Fully Paid,11520,Short Term,741.0,10.0,Home Mortgage,33694.0,Debt Consolidation,584.03,12.3,41.000000,10,0,6760,16056.0,0.0,0.0
1,00002c49-3a29-4bd4-8f67-c8f8fbc1048c,927b388d-2e01-423f-a8dc-f7e42d668f46,Fully Paid,3441,Short Term,734.0,4.0,Home Mortgage,42269.0,other,1106.04,26.3,30.771593,17,0,6262,19149.0,0.0,0.0
2,00002d89-27f3-409b-aa76-90834f359a65,defce609-c631-447d-aad6-1270615e89c4,Fully Paid,21029,Short Term,747.0,10.0,Home Mortgage,90126.0,Debt Consolidation,1321.85,28.8,34.536715,5,0,20967,28335.0,0.0,0.0
3,00005222-b4d8-45a4-ad8c-186057e24233,070bcecb-aae7-4485-a26a-e0403e7bb6c5,Fully Paid,18743,Short Term,747.0,10.0,Own Home,38072.0,Debt Consolidation,751.92,26.2,41.815036,9,0,22529,43915.0,0.0,0.0
4,0000757f-a121-41ed-b17b-162e76647c1f,dde79588-12f0-4811-bab0-e2b07f633fcd,Fully Paid,11731,Short Term,746.0,4.0,Rent,50025.0,Debt Consolidation,355.18,11.5,40.528565,12,0,17391,37081.0,0.0,0.0

In [40]:
df.drop(["Loan ID","Customer ID"],axis=1,inplace=True)

In [41]:
df["Loan Status"] = df["Loan Status"].replace("Fully Paid",1).replace("Charged Off",0).astype("int")

In [42]:
df["Loan Status"].head()

0    1
1    1
2    1
3    1
4    1
Name: Loan Status, dtype: int32

In [43]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from keras.models import Sequential
from keras.layers import Dense
from keras.utils import to_categorical
import tensorflow as tf

In [44]:
df = pd.get_dummies(df,drop_first=True)
X = df.drop(["Loan Status"],axis=1)
y = df['Loan Status']
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=63)
y_train=to_categorical(y_train)
y_test=to_categorical(y_test)

In [45]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
X_train_scaled = sc.fit_transform(X_train)
X_test_scaled = sc.transform(X_test)
y_train

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [0., 1.],
       [0., 1.],
       [0., 1.]], dtype=float32)

In [47]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(512, activation='relu', input_dim = 26),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.Dropout(0.25),
    
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.BatchNormalization(),
    
    tf.keras.layers.Dense(2, activation='sigmoid')
])

model.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics=['accuracy'])
history=model.fit(X_train_scaled, y_train, epochs=10, batch_size=32, verbose = 1, validation_data=(X_test_scaled, y_test))

Epoch 1/10
6412/6412 [==============================] - 32s 5ms/step - loss: 0.5234 - accuracy: 0.7369 - val_loss: 0.4829 - val_accuracy: 0.7504
Epoch 2/10
6412/6412 [==============================] - 32s 5ms/step - loss: 0.4929 - accuracy: 0.7484 - val_loss: 0.4826 - val_accuracy: 0.7506
Epoch 3/10
6412/6412 [==============================] - 31s 5ms/step - loss: 0.4937 - accuracy: 0.7466 - val_loss: 0.4813 - val_accuracy: 0.7497
Epoch 4/10
6412/6412 [==============================] - 31s 5ms/step - loss: 0.4872 - accuracy: 0.7513 - val_loss: 0.4776 - val_accuracy: 0.7528
Epoch 5/10
6412/6412 [==============================] - 32s 5ms/step - loss: 0.4883 - accuracy: 0.7503 - val_loss: 0.4862 - val_accuracy: 0.7526
Epoch 6/10
6412/6412 [==============================] - 31s 5ms/step - loss: 0.4851 - accuracy: 0.7517 - val_loss: 0.4781 - val_accuracy: 0.7517
Epoch 7/10
6412/6412 [==============================] - 31s 5ms/step - loss: 0.4850 - accuracy: 0.7513 - val_loss: 0.4772 - val_accuracy: 0.7540
Epoch 8/10
6412/6412 [==============================] - 31s 5ms/step - loss: 0.4819 - accuracy: 0.7534 - val_loss: 0.4771 - val_accuracy: 0.7531
Epoch 9/10
6412/6412 [==============================] - 31s 5ms/step - loss: 0.4824 - accuracy: 0.7547 - val_loss: 0.4769 - val_accuracy: 0.7555
Epoch 10/10
6412/6412 [==============================] - 31s 5ms/step - loss: 0.4817 - accuracy: 0.7528 - val_loss: 0.4796 - val_accuracy: 0.7533